<h2>Welcome to the Tech Blog!</h2>

<!-- Add additional content here -->
<div>
  <h3>Featured Blog Posts</h3>
  {{#each blogs}}
    <div>
      <h4>{{this.title}}</h4>
      <p>Created{{this.User.name}}</p>
      <p>{{this.body}}</p>
    </div>
  {{/each}}
</div>

<div>
  <h3>Start Writing Your Own Blog Posts!</h3>
  <p>Join our community and share your knowledge and experiences with others. Sign up now and start publishing your own blog posts.</p>
</div>

