<h2>Login</h2>
<form>
  <input class='email' type="text" name="email" placeholder="email">
  <input class='password' type="password" name="password" placeholder="Password">
  <button class='login-button' type="submit">Log In</button>
</form>
<script src="/js/login.js"></script> 