<h2>Sign Up</h2>
<form class="signup-form">
  <input type="text" name="username" placeholder="Username">
  <input class='email' type="text" name="email" placeholder="email">
  <input class='password' type="password" name="password" placeholder="Password">
  <button class='signup-button' type="submit">Sign Up</button>
</form>
<script src="/js/signup.js"></script>